version: '3.8'

services:
  backend:
    build: ./backend
    ports:
      - "3000:3000"
    # Load environment variables directly from the file
    env_file:
      - ./backend/.env

  frontend:
    build: ./frontend
    ports:
      - "5173:80"
    depends_on:
      - backend
